h1{
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 800;
  font-size: 176px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  // margin-bottom: 0px;
}
h2{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 60px;
  margin-top: 50px;
}
h4{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
p{
  font-family: 'Montserrat', 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
h6{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
h5{
  // font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}