* {
  margin: 0;
  padding: 0;
}

body {
  background: #F0F0F0;
  font-family: "Montserrat", sans-serif;
}

.navbar-mobile {
  display: none;
}

.show_navbar {
  display: none !important;
}

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0;
}

h1 {
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 800;
  font-size: 176px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
}

h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 60px;
  margin-top: 50px;
}

h4 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.container {
  margin: 50px 150px;
}

/*************************FIRST****************************/
.first {
  min-height: 100vh;
}

.first___navbar {
  display: flex;
  justify-content: center;
}
.first___navbar ul li {
  cursor: pointer;
  display: inline;
  margin-right: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.first___navbar ul li a {
  color: black;
  text-decoration: none;
}
.first___navbar ul li a:hover {
  color: #452994;
}
.first___navbar ul li:hover {
  color: #452994;
}

.nav-mobile {
  position: absolute;
  right: 20px;
  top: 58px;
}
.nav-mobile ul li {
  cursor: pointer;
  margin: 10px;
  display: block;
  margin-bottom: 5px;
}

.first__head {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.first__head span {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #777575;
}

.first__logo {
  margin-top: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.first__logo img {
  width: 178px;
  height: 311.87px;
  margin-right: 20px;
}

/*************************SECOND****************************/
.second {
  min-height: 100vh;
}
.second .second__advantages {
  display: flex;
  flex-wrap: wrap;
}
.second .second__advantages-item {
  border-top: 0.5px solid #9F9F9F;
  border-bottom: 0.5px solid #9F9F9F;
  width: 541px;
  height: 296px;
  display: flex;
}
.second .second__advantages-item img {
  padding-top: 60px;
  width: 210px;
  height: 189px;
}

.second__advantages-info {
  padding-top: 60px;
}
.second__advantages-info h4 {
  margin-bottom: 20px;
}
.second__advantages-info p {
  margin-bottom: 20px;
}

.sale h4 {
  color: #452994;
}

/*************************THREE****************************/
.three {
  min-height: 100vh;
}
.three .three__content {
  display: flex;
  border-top: 0.5px solid #9F9F9F;
  border-bottom: 0.5px solid #9F9F9F;
}
.three .three__content .three__content-info ul li {
  border-top: 0.5px solid #9F9F9F;
  border-bottom: 0.5px solid #9F9F9F;
  padding: 40px 10px;
  list-style-type: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #777575;
}
.three .three__content .three__content-info ul li:first-child {
  border-top: none;
}
.three .three__content .three__content-info ul li:last-child {
  border-bottom: none;
}
.three .three__content .three__content-img {
  width: 523px;
  height: 428px;
}
.three .three__content .three__content-img img {
  width: 523px;
  height: 428px;
  padding-top: 10px;
}
.three .three__content .three__back-1 {
  background-image: url("../img/three-1.png");
}
.three .three__content .three__back-2 {
  background-image: url("../img/three-2.png");
}
.three .three__content .three__back-3 {
  background-image: url("../img/three-3.png");
}
.three .three__content .three__back-4 {
  background-image: url("../img/three-4.png");
}

/*************************FOUR****************************/
.four {
  min-height: 100vh;
}

.four__coachs {
  display: flex;
}

.four__coachs-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.four__coachs-item img {
  margin-bottom: 20px;
}
.four__coachs-item h6 {
  margin-bottom: 20px;
  color: #452994;
}
.four__coachs-item p {
  padding-left: 5vw;
}

h6 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

/*************************FOUR****************************/
h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.five__content {
  border-top: 0.5px solid #9F9F9F;
  padding-top: 40px;
}

.five__content-item {
  display: flex;
}
.five__content-item .five__content-img {
  width: 50%;
}
.five__content-item .five__content-img img {
  width: 100%;
}
.five__content-item .five__content-info {
  width: 50%;
}
.five__content-item .five__content-info h5 {
  margin-top: 200px;
  padding-left: 20px;
}
.five__content-item .five__content-info p {
  padding-left: 20px;
  max-width: 400px;
}
.five__content-item p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #545454;
  margin-top: 15px;
}

/*************************SIX****************************/
.six {
  min-height: 100vh;
}
.six h2 {
  padding-top: 150px;
}

.six__content {
  border-top: 0.5px solid #9F9F9F;
  padding-top: 30px;
  display: flex;
}
.six__content .six__map {
  width: 50%;
}
.six__content .six__map img {
  width: 100%;
}
.six__content .six__info {
  width: 50%;
}

.six__info-item {
  margin: 40px 10px;
}
.six__info-item p {
  margin-top: 10px;
}
.six__info-item .six__info-logo {
  margin-top: 10px;
}

/*************************FOOTER****************************/
footer {
  background: #777575;
  padding: 20px 150px;
  display: flex;
  justify-content: flex-start;
}
footer .footer-logo {
  display: flex;
  margin-right: 80%;
}
footer .footer-logo span {
  font-family: Big Shoulders Display;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.05em;
}
footer .footer-links {
  margin-top: 25px;
}
footer .footer-links img {
  margin-right: 10px;
}