/*****************mobile*************/
@media (max-width: 720px) {
  .navbar-mobile {
    background: #F0F0F0;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    position: -webkit-sticky;
    position: relative;
  }
  .navbar-mobile img {
    margin-right: 40px;
  }
  .navbar-mobile ul {
    background: #F0F0F0;
  }

  .sticky {
    position: fixed;
    width: 100%;
    right: 40px;
    top: 0px;
    z-index: 100;
    border-top: 0;
  }

  .first___navbar {
    display: none;
  }

  .container {
    margin: 10px 30px;
  }

  h2 {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
  }

  h4 {
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
  }

  h6 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }

  /*************************FIRST****************************/
  .first {
    width: 100vw;
  }
  .first h1 {
    font-weight: 900;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
  }
  .first img {
    width: 73px;
    height: 128.4px;
  }
  .first span {
    font-size: 24px;
    line-height: 29px;
  }
  .first .first__head .first__logo {
    width: 90%;
  }

  /*************************SECOND****************************/
  .second .second__advantages {
    align-items: center;
    justify-content: center;
  }
  .second .second__advantages-item {
    align-items: center;
    justify-content: center;
  }
  .second .second__advantages-item img {
    width: 145.74px;
    height: 141.75px;
    margin-right: 20px;
  }
  .second .second__advantages-item .second__advantages-info {
    width: 140px;
  }

  /*************************THREE****************************/
  .three .three__content {
    flex-direction: column-reverse;
  }
  .three .three__content .three__back-1 {
    background-image: url("../img/three-1.png");
  }
  .three .three__content .three__back-2 {
    background-image: url("../img/three-2.png");
  }
  .three .three__content .three__back-3 {
    background-image: url("../img/three-3.png");
  }
  .three .three__content .three__back-4 {
    background-image: url("../img/three-4.png");
  }
  .three .three__content .three__content-img {
    width: 319px;
    height: 261px;
  }
  .three .three__content .three__content-img img {
    width: 319px;
    height: 261px;
  }
  .three .three__content .three__content-info ul li {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 10px;
  }

  /*************************FOUR****************************/
  .four .four__coachs {
    flex-direction: column;
  }
  .four .four__coachs .four__coachs-item img {
    width: 264px;
    height: 329px;
  }
  .four .four__coachs .four__coachs-item p {
    width: 264px;
    margin-bottom: 20px;
  }

  /*************************FIVE****************************/
  .five .five__content-item {
    flex-direction: column;
    margin: 10px;
    margin-bottom: 50px;
  }
  .five .five__content-item h5 {
    font-weight: 500;
    font-size: 16px;
    line-height: 15px;
    margin-top: 10px;
  }
  .five .five__content-item .five__content-info {
    width: 100%;
  }
  .five .five__content-item .five__content-img {
    width: 100%;
  }
  .five .five__content-item:first-child {
    flex-direction: column-reverse;
  }
  .five .five__content-item:nth-child(3) {
    flex-direction: column-reverse;
  }

  /*************************SIX****************************/
  .six .six__content {
    flex-direction: column-reverse;
  }
  .six .six__content .six__map {
    width: 100%;
  }
  .six .six__content .six__info .six__info-item {
    margin: 20px 10px;
  }
  .six .six__content .six__info .six__info-item p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }

  /*************************FOOTER****************************/
  footer {
    padding: 20px 30px;
  }
  footer .footer-logo {
    margin-right: 40%;
  }
  footer .footer-logo img {
    width: 25.34px;
    height: 46.66px;
  }
  footer .footer-logo span {
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
  }
}
/*************ADAPTIVE FOR IPAD************************/
/*************ADAPTIVE FOR IPAD************************/
/*************ADAPTIVE FOR IPAD************************/
@media (max-width: 960px) and (min-width: 721px) {
  h1 {
    font-weight: 800;
    font-size: 156px;
    line-height: 147px;
    letter-spacing: 0.05em;
  }

  h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #777575;
  }

  h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
  }

  .container {
    margin: 30px 40px;
  }

  /*************************FIRST****************************/
  .first img {
    width: 147px;
    height: 257.55px;
  }
  .first span {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.05em;
  }

  /*************************SECOND****************************/
  .second .second__advantages {
    justify-content: center;
  }
  .second .second__advantages-item {
    width: 375.45px;
  }

  /*************************THREE****************************/
  .three .three__content .three__content-img img {
    width: 100%;
  }
  .three .three__content .three__content-info ul li {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    padding: 30px 10px;
  }

  /*************************SIX****************************/
  .six .six__content .six__info .six__info-item p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
  .six .six__content .six__map {
    margin-top: 40px;
  }

  /*************************FOOTER****************************/
  footer {
    padding: 20px 50px;
  }
  footer .footer-logo {
    margin-right: 50%;
  }
  footer .footer-logo span {
    font-weight: 800;
    font-size: 36px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.05em;
  }
  footer .footer-logo img {
    width: 37px;
    height: 64.83px;
    margin-right: 5px;
  }
}
/*************ADAPTIVE FOR LAPTOP************************/
/*************ADAPTIVE FOR LAPTOP************************/
/*************ADAPTIVE FOR LAPTOP************************/
@media (max-width: 1200px) and (min-width: 960px) {
  h1 {
    font-weight: 800;
    font-size: 156px;
    line-height: 147px;
    letter-spacing: 0.05em;
  }

  h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #777575;
  }

  h4 {
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
  }

  p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #545454;
  }

  .container {
    margin: 30px 80px;
  }

  /*************************FIRST****************************/
  .first img {
    width: 147px;
    height: 257.55px;
  }
  .first span {
    font-weight: 800;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.05em;
  }

  /*************************SECOND****************************/
  .second .second__advantages {
    justify-content: center;
    align-items: center;
  }
  .second .second__advantages-item {
    width: 430px;
  }

  /*************************THREE****************************/
  /*************************SIX****************************/
  .six .six__content .six__info .six__info-item p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
  .six .six__content .six__map {
    margin-top: 40px;
  }

  /*************************FOOTER****************************/
  footer {
    padding: 20px 50px;
  }
  footer .footer-logo {
    margin-right: 70%;
  }
  footer .footer-logo span {
    font-weight: 800;
    font-size: 36px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.05em;
  }
  footer .footer-logo img {
    width: 37px;
    height: 64.83px;
    margin-right: 5px;
  }
}