@import "anim";
@import "footer/footer";
@import "contacts/contacts";
@import "club-life/club-life";
@import "coaches/coaches";
@import "photos/photos";
@import "advantages/advantages";
@import "main/main";
@import "navbar/navbar";
@import "container/container";
@import "fonts";
* {
  margin: 0;
  padding: 0;
}
body{
  background: #F0F0F0;
  font-family: 'Montserrat', 'sans-serif';
}



